/* -----> List Container <----- */
.List-background {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: #15312C;
}
.List-container {
    width: 90%;
    padding: 0px 20px;
    margin: 20px 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.List-container > div {
    width: 100%;
}

/* -----> Icons <----- */
.List-social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.List-social-media > div {
    cursor: pointer;
    transition: 0.3s;
    color: #ccc;
}
.List-social-media svg {
    transition: 0.3s;
} 
.List-social-media > div svg:hover {
    transform: scale(1.1);
    color: #fff;
}

/* -----> Media Query <----- */
@media (max-width: 1150px) {
    .List-container > div {
        overflow-x: scroll;
    }
}