/* -----> Form Container <----- */
.Form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Form-content > div > div {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
}

/* -----> Text <----- */
.Form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #23a013;
}
.Form-content > div > h3 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
}

/* -----> Select <----- */
.Form-content select {
    height: 30px;
    padding: 0 10px;
    margin-top: 1px;
    border-radius: 4px;
    border: none;
    color: #F7F7F7;
    background-color: #222;
}
.Form-content select::placeholder {
    color: #F7F7F7;
}

/* -----> Textarea <----- */
.Form-container-textarea {
    display: flex;
    flex-direction: column;
}
.Form-container-textarea p {
    margin: 0px 0px -10px 10px;
}
.Form-container-textarea textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #F7F7F7;
    background-color: #222;
}
.Form-container-textarea textarea::placeholder {
    color: #F7F7F7; 
}

/* -----> Button <----- */
.Form-button {
    margin-top: 30px;
}
.Form-button button {
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    transition: 0.2s;
    color: #F7F7F7;
    background-color: #23a013;
}
.Form-button button:hover {
    background-color: #158107;
}

/* -----> Media Query <----- */
@media (max-width: 540px) {
    .Form-container {
        width: 100%;
    }   
    .Form-content > div {
        width: 100%;
    }
    .Form-content > div > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        margin-bottom: 10px;
        gap: 20px;
    }
    .Form-container-textarea p {
        margin: 0px 0px -15px 10px;
    }
    .Form-content select {
        width: 100%;
    }
}