/* -----> EditBeer Container <----- */
.EditBeer-background {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: #15312C;
}
.EditBeer-container {
    width: 500px;
    padding: 30px 20px;
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* -----> Icons <----- */
.EditBeer-social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.EditBeer-social-media > div {
    cursor: pointer;
    transition: 0.3s;
    color: #ccc;
}
.EditBeer-social-media svg {
    margin: 20px 0;
    transition: 0.3s;
} 
.EditBeer-social-media > div svg:hover {
    transform: scale(1.1);
    color: #fff;
}

/* -----> Media Query <----- */
@media (max-width: 540px) {
    .EditBeer-container {
        width: 90%;
        padding: 30px;
    }
}