.carList {
  margin: 170px 140px;
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.sideBar ul{
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .carList {
    margin: 110px 30px;
  }

  .carList h2 {
    font-size: 23px;
  }
}





